<div class="login">
  <div class="login__col login__first">
    <div class="login__banner">
      <div class="login__banner-inner">
        <img src="../../../../assets/img/banner/Logo_Alliancecorp.png" alt="">
        <div class="login__banner-inner-txt">
          <h1>Tailored <br> Strategies <br> to grow <br> your <br> wealth</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="login__col">
    <div class="login__form-banner">
      <div class="login__form">
        <div class="login__form-inner">
          <div class="login__form-inner-content">
            <img src="../../../../assets/img/banner/Logo_Full.png" alt="">
            <h1>Welcome back !</h1>
            <p>Please Your Details</p>
            <div>
              <form class="login__form-content" [formGroup]="resetForm">
                <label class="login__label-txt">Password</label><br>
                <div class="input-group mb-3">
                  <input type="password" class="login__input-box" placeholder="Password" formControlName="password">
                  <span class="copy-icon" (click)="visible.new = !visible.new">
                    <img *ngIf="visible.new" src="../../../../assets/img/svg/eye.svg" width="18" alt="">
                    <img *ngIf="!visible.new" src="../../../../assets/img/svg/eye-off.svg" width="18" alt="">
                  </span>
                </div>
                <ng-container>
                  <p class="err-txt"
                    *ngIf="resetForm.controls['password'].dirty && resetForm.controls['password'].hasError('required')">
                    Please enter your password
                  </p>
                  <p class="err-txt"
                    *ngIf="resetForm.controls['password'].dirty && resetForm.controls['password'].hasError('pattern')">
                    Use 8 or more with the mix of letters, numbers & symbols
                  </p>
                </ng-container>
                <label class="login__label-txt">Confirm Password</label><br>
                <div class="input-group mb-3">
                  <input type="password" class="login__input-box" placeholder="Password"
                    formControlName="confirmpassword">
                  <span class="copy-icon" (click)="visible.confirm = !visible.confirm">
                    <img *ngIf="visible.confirm" src="../../../../assets/img/svg/eye.svg" width="18" alt="">
                    <img *ngIf="!visible.confirm" src="../../../../assets/img/svg/eye-off.svg" width="18" alt="">
                  </span>
                </div>
                <ng-container>
                  <p class="err-txt"
                    *ngIf="resetForm.controls['confirmpassword'].dirty && resetForm.controls['confirmpassword'].hasError('required')">
                    Please enter your Confirm password
                  </p>
                  <p class="err-txt"
                    *ngIf="resetForm.controls['confirmpassword'].dirty && resetForm.controls['confirmpassword'].hasError('mustMatch')">
                    Uh-oh! The Password Don't Match
                  </p>
                </ng-container>
                <h3 class="login__pwd-txt">Sign In</h3>
                <button type="submit" class="login__submit-btn" [disabled]="isLoading || resetForm.invalid" (click)="resetPassword()">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>