:root{
    --primary-color:#03267D;
    --black-color:#18181E;
    --text-color:#B9B9B9;
    --white-color:#fff;
    --border:#F2F2F2;
    --dark-black:#000;
    --primary-txt:#A6B5DB;
    --profit-color:#16e476;
    --loss-color:#e31c1c;
}