.login {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  &__col {
    flex: 1 1 40rem;
  }
  &__banner {
    height: 100%;
    background-image: url('../../../../assets/img/banner/Login_Image.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__banner-inner{
    padding: 4rem;
  }
  &__banner-inner-txt{
    margin-top: 17rem;
    margin-left: 8rem;
    h1{
        font-family: "GoogleSans-Bold";
        font-size:6rem !important;
        color: var(--white-color);
        line-height: 8rem;
    }
   
  }
  &__form-banner{
    height: 100%;
    background-image: url('../../../../assets/img/banner/White_Design.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__form{
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    flex-direction: column;
  }
  &__form-inner-content{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  &__form-inner{
    text-align: left;
    h1{
        font-family: "GoogleSans-Bold";
        font-size: 3rem;
        color: var(--black-color);
        margin-top: 1rem;
        margin-bottom: 0;
    }
    p{
        color:var(--text-color);
        font-size: 1.4rem;
        margin-bottom: 0;
        font-family: "OpenSans-SemiBold";
        margin-top: 0.5rem;
    }
  }
  &__label-txt{
    color:var(--text-color);
    font-size: 1.4rem;
    margin: 1rem 0;
    font-family: "GoogleSans-Light";
  }
  &__form-content{
    margin-top: 1rem;
  }
  &__input-box{
    height: 3.8rem;
    width: 35rem;
    border: 0.1rem solid var(--text-color);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    color: var(--black-color);
    font-family: "GoogleSans-Light";
    padding:0 1rem;
    &:focus-visible{
      border: 1px solid var(--primary-color);
      outline: none;
  }
  }
  &__pwd-txt{
    font-family: "GoogleSans-Light";
    font-size: 1.4rem;
    color: var(--primary-color);
   text-align: right;
   margin-bottom: 1rem;
   cursor: pointer;
  }
  &__submit-btn{
    height: 3.8rem;
    width: 35rem;
    border-radius: 0.4rem;
    background-color: var(--primary-color);
    font-family: "GoogleSans-Light";
    font-size: 1.4rem;
    color: var(--white-color);
    border: none;
    outline: none;
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 540px){
    .login{
        &__first{
            display: none;
        }
        &__form{
            width: 100%;
        }
    }
}
@media (min-width: 541px) and (max-width: 767px) {
    .login{
        &__first{
            display: none;
        }
        &__form{
            width: 100%;
        }
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .login{
        &__first{
            display: none;
        }
        &__form{
            width: 100%;
        }
    }
}
.copy-icon{
  position: absolute;
  right: 1rem;
  top: 1rem;
}