<div class="login">
    <div class="login__col login__first">
      <div class="login__banner">
        <div class="login__banner-inner">
          <img src="../../../../assets/img/banner/Logo_Alliancecorp.png" alt="">
          <div class="login__banner-inner-txt">
            <h1>Tailored <br> Strategies <br> to grow <br> your <br> wealth</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="login__col">
      <div class="login__form-banner">
        <div class="login__form">
          <div class="login__form-inner">
            <div class="login__form-inner-content">
              <img src="../../../../assets/img/banner/Logo_Full.png" alt="">
              <h1>Welcome back !</h1>
              <p>Please Your Details</p>
              <div>
                <form class="login__form-content" [formGroup]="forgotForm">
                  <label class="login__label-txt">Email</label>
                  <div class="input-group mb-3">
                    <input type="text" class="login__input-box" placeholder="Email" formControlName="email">
                    <span class="copy-icon"><img src="../../../../assets/img/svg/mail.svg" width="18" alt="">
                    </span>
                  </div>
                  <ng-container>
                    <p class="err-txt" *ngIf="forgotForm.controls['email'].dirty && forgotForm.controls['email'].hasError('required')">
                      Please enter your registered email
                    </p>
                    <p class="err-txt" *ngIf="forgotForm.controls['email'].dirty && forgotForm.controls['email'].hasError('pattern')">
                      Invalid email
                    </p>
                  </ng-container>
                  <h3 class="login__pwd-txt" routerLink="/auth/login">Sign In</h3>
                  <button type="submit" class="login__submit-btn" [disabled]="isLoading || forgotForm.invalid" (click)="submitForgotPassword()">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>