.search-dropdown {
    position: relative;
    width: 100%;

    input {
        width: 100% ;
    }
}

.screenersearch {
    .common-search input {
        text-transform: capitalize;
    }
}

.fa-sort-up {
    top: 1.5rem;
}
i{
    color: #0000;
}
.signup-seacrhdropdown{
    position: relative;
    display: flex;
    img{
        position: absolute;
        right: 1rem;
        top: 1.7rem;

    }
}